[Unit]
Description=Apply Gruvbox theme (night mode)
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/USER/.config/theme-oscillator/switch-theme.sh 0

[Install]
WantedBy=default.target
